{% extends "base.twig" %}

{% block content %}
	<div class="main-wrapper">
		<h1>{{ post.title }}</h1>
		{{ post.content }}
		{{ include('acf_layouts.twig', { flexcontent: post.meta('content') }) }}
	</div>
{% endblock %}
